@model IEnumerable<EmpowerHealthyStudents.Models.BlogPost>


@{
    ViewData["Title"] = "AdminIndex";
}

<h1 class="text-center">Blog Posts</h1>

<p>
    <a class="btn btn-light-grey" asp-action="Create">Create New Blog</a>
</p>

<table class="table">
    
    <tbody>
        <div>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a class="nav-link text-orange" asp-controller="BlogPosts" asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem=> item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
              
            </tr>
            }

        </div>
    </tbody>
</table>