
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="text-center">
    <img class="aprilPic" src="~/images/AprilCrenshaw.jpg" style="width:350px;" />
</div>

<h3>
   About Me
</h3>
<div>
    <p>
        Hi, I'm April! I spent several years teaching English in public, therapeutic, and charter school environments before becoming a therapist. I've always had a passion for helping students heal and grow emotionally, mentally, socially, and relationally. Now I want to share resources that can help other teachers, social workers, and counselors do the same thing!
        Why Empower Healthy Students?
    <p/>
    <p>
        Empower: The process of becoming stronger and more confident, especially in controlling one's life and claiming one's rights.
     <p/>
    <p>
        Throughout the empowerment process, students begin to identify values, set healthy boundaries, and discover more about themselves. Through empowerment, students can heal from identifying as victims to survivors and can begin to stake a claim in their present and future!
    </p>
</div>


<h5>
    Contact Info:
</h5>

<div>
    <h6>Facebook:</h6>
    <h6>Instagram:</h6>
    <h6>Pinterest:</h6>
</div>

